* {
    font-family: 'Agdasima', sans-serif
}

body {
    margin: unset;
}

header {
    /*background-color: #f10056;*/
    /*background-color: #0080ff;*/
    background-color: #f6caca;
    /*background-image: linear-gradient(to bottom right, rgba(255, 166, 0, 0.8), rgba(255, 0, 59, 0.75));*/
    /*background-image: linear-gradient(to bottom right, rgba(29, 29, 31, 0.02), #f6caca);*/
    background-image: linear-gradient(to right, rgb(255, 255, 255), #f6caca);

    color: #ae1813; /* text color */
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

header a {
    text-decoration: none;
    color: inherit;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

header a:hover {
    background-color: rgba(29, 29, 31, 0.22);
}

.droppable:hover {
    margin-top: 7px;
    margin-bottom: 0px;
    height: 63px;
    border-radius: 15px 15px 0px 0px;
}

.undroppable:hover {
    /*margin-top: 7px;*/
    /*margin-bottom: 7px;*/
    /*height: 46px;*/
    /*border-radius: 15px;*/
    border-radius: 0px;
}

footer {
    background-color: #3d3d3d;
    color: #d0d0d0; /* barva pisave */
    text-align: center;
}

footer a {
    color: #d0d0d0;
    padding-left: 10px;
    padding-right: 10px;
}

footer a:visited {
    color: #d0d0d0;
}

footer a:active {
    color: #d0d0d0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

view {
    margin: auto 0;
}

/* Sidebar */

#zadnje-ankete {
    padding: 10px;
    /*background-color: #f6caca;*/
    background-image: linear-gradient(to right, #f6caca, #fcabab);
    /*background-image: linear-gradient(to right, #f6caca, rgba(255, 229, 200, 0.91));*/
    border-radius: 15px;
}

.zadnja-anketa {
    padding: 10px;
    margin: 10px;
    background-image: linear-gradient(to right,  rgba(148, 117, 108, 0.29), rgba(255, 210, 144, 0.29));
    border-radius: 15px;
    border: 2px solid rgba(255, 255, 255, 0.55);
}

.zadnja-anketa:hover {
    border: 2px solid #ae1813;
}

.zadnja-anketa a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}