* {
    /*font-family: 'Agdasima', sans-serif;*/
    font-family: Avenir, Helvetica, Arial, sans-serif;
}

body {
    margin: unset;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

/* Colors */
.pink-red {
    /*background-color: #f6caca;*/
    background-image: linear-gradient(to right, #f6caca, #fcabab);
    /*background-image: linear-gradient(to right, #f6caca, rgba(255, 229, 200, 0.91));*/
}

.yellow-gray {
    background-image: linear-gradient(to right,  rgba(148, 117, 108, 0.29), rgba(255, 210, 144, 0.29));
}

/* Main view */
.stick-to-the-left {
    margin: 0px;
    display: inline-block;
    width: 60%;
}

/* Anchors */
.anchor-outer {
    /* glej https://stackoverflow.com/questions/13036142/anchor-links-to-start-below-the-header-which-is-fixed-at-the-top */
    display: block;
    height: 100px; /* header height and margin and padding of container */
    margin-top: -100px; /* negative header height and margin and padding of container */
    visibility: hidden;
}

.anchor-inner {
    /* glej https://stackoverflow.com/questions/13036142/anchor-links-to-start-below-the-header-which-is-fixed-at-the-top */
    display: block;
    height: 95px; /* header height and margin and padding of container */
    margin-top: -95px; /* negative header height and margin and padding of container */
    visibility: hidden;
}

/* Bubbles */
.bubble {
    padding: 15px;
    border-radius: 15px;
}

.bubble-outer {
    margin: 15px;
}

.bubble-list {
    margin-top: 10px; /* tudi zunanji mehur훾ki imajo ta margin */
    overflow: hidden;
}

.bubble-border {
    border: 2px solid rgba(255, 255, 255, 0.55) /* alpha = 0 povzro훾i UI bug */
}

.bubble-border:hover {
	border: 2px solid #ae1813;
}

.bubble-highlighted { /* v primeru, ko je bil polinkan fragment strani */
	border: 2px solid #ae1813;
}

/* Buttons */
/* To ne skrije gumba v zunanjem mehur훾ku ko .bubble-inner:hover */
.side-button {
    float: right;
    visibility: hidden;
}

.bubble:hover .side-button {
    visibility: visible;
}

.bubble:hover .bubble .side-button {
    visibility: hidden;
}

.bubble .bubble:hover .side-button {
    visibility: visible;
}

/* Side panel */
/* max-width in min-width sta specificirana dvakrat zato, da se popravijo te탑ave z vektorskimi slikami */
.side-panel {
    float: right;
    min-width: 150px;
    max-width: 250px;
}

.side-panel img {
    min-width: 150px;
    max-width: 250px;
}