* {
    /*font-family: 'Agdasima', sans-serif;*/
    font-family: Avenir, Helvetica, Arial, sans-serif;
    /* color: #000000; */
}

body {
    margin: unset;
}

/* Sidebar */

.sidebar {
    /* display: inline-block; (to se zaradi float ignorira; drugače tudi s tem ne dela dobro) */
    float: right;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;

    /*background-color: #f6caca;*/
    background-image: linear-gradient(to right, #f6caca, #fcabab);
    /*background-image: linear-gradient(to right, #f6caca, rgba(255, 229, 200, 0.91));*/
}

.sidebar h1 {
    text-align: center;
    margin: 10px;
}