* {
    /*font-family: 'Agdasima', sans-serif;*/
    font-family: Avenir, Helvetica, Arial, sans-serif;
}

body {
    margin: unset;
}

/* Main view */
.stick-to-the-left {
    margin: 0px;
    display: inline-block;
    width: 60%;
}

/* Sidebar */

.sidebar {
    /* display: inline-block; (to se zaradi float ignorira; drugače tudi s tem ne dela dobro) */
    float: right;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;

    /*background-color: #f6caca;*/
    background-image: linear-gradient(to right, #f6caca, #fcabab);
    /*background-image: linear-gradient(to right, #f6caca, rgba(255, 229, 200, 0.91));*/
}

.sidebar h1 {
    text-align: center;
    margin: 10px;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}