.btn 

/* To ne skrije gumba v zunanjem mehurÄku ko .bubble-inner:hover */
.side-button {
    visibility: hidden;
    display: inline-block;
}

.content-container:hover .side-button {
    visibility: visible;
}

.content-container:hover .bubble .side-button {
    visibility: hidden;
}

.content-container .bubble:hover .side-button {
    visibility: visible;
}