/* Charts (sicer namenjeno specifično DoughnutChart in PieChart, Scatter delno povozi te velikosti*/
canvas { 
    height: unset !important;
    width: unset !important;
    max-width: 100%;
    max-height: 600px;
}
