a, a:active, a:visited, a:hover {
    color: #ae1813;
}

.pink-red {
    /*background-color: #f6caca;*/
    background-image: linear-gradient(to right, #f6caca, #fcabab);
    /*background-image: linear-gradient(to right, #f6caca, rgba(255, 229, 200, 0.91));*/
}

.yellow-gray {
    background-image: linear-gradient(to right,  rgba(148, 117, 108, 0.29), rgba(255, 210, 144, 0.29));
}

.white-pink {
    /*background-color: #f10056;*/
    /*background-color: #0080ff;*/
    /*background-color: #f6caca;*/
    /*background-image: linear-gradient(to bottom right, rgba(255, 166, 0, 0.8), rgba(255, 0, 59, 0.75));*/
    /*background-image: linear-gradient(to bottom right, rgba(29, 29, 31, 0.02), #f6caca);*/
    background-image: linear-gradient(to right, #ffffff, #e7acac);
    /* background-image: linear-gradient(to right, #ffffffab, #e49595ab); */
    /* backdrop-filter: blur(25px); */
}

.yellow-white {
    background: #FFEFBA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #fefcdf, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #fefcdf, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}