/* Globalni stili so bili premaknjeni sem, ker je vključevanje stilov v index.html povzročalo težave, saj se je deployment verzija zahtevala uporabo brez korena (/ na začetku), razvojna verzija pa ravno obratno */

/* Side margins */
/* Privzeto je vse edge to edge */
body { /* odstrani privzete vrednosti brskalnika */
    margin: unset;
}

.odmik {
    margin: 0 10%;
}

.odmik2 {
    margin: 0 5%;
}

/* Besedilo */
* {
    /*font-family: 'Agdasima', sans-serif;*/
    font-family: Avenir, Helvetica, Arial, sans-serif;
}

.caption {
    font-size: 13px;
    color: rgb(86, 86, 86);
}

/* Icons */
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

/* Anchors */
.anchor-outer {
    /* glej https://stackoverflow.com/questions/13036142/anchor-links-to-start-below-the-header-which-is-fixed-at-the-top */
    display: block;
    height: 100px; /* header height and margin and padding of container */
    margin-top: -100px; /* negative header height and margin and padding of container */
    visibility: hidden;
}

.anchor-inner {
    /* glej https://stackoverflow.com/questions/13036142/anchor-links-to-start-below-the-header-which-is-fixed-at-the-top */
    display: block;
    height: 95px; /* header height and margin and padding of container */
    margin-top: -95px; /* negative header height and margin and padding of container */
    visibility: hidden;
}